$breakpoint: 800px;

:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --light-grayish-cyan: hsl(180, 52%, 96%); // Background
    --light-grayish-cyan: hsl(180, 31%, 95%); // Filter Tablets
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);

    --clr-primary: var(--dark-cyan);
    --clr-secondary: var(--dark-grayish-cyan);
    --clr-secondary-dark: var(--very-dark-grayish-cyan);
    --clr-light: var(--light-grayish-cyan);
    --clr-grey: var(--dark-grayish-cyan);
    --clr-dark: #000;
    --clr-white: #fff;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--clr-light);
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.card {
    position: relative;
    padding: 3rem 1.8rem 1.4rem 1.8rem;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(173, 173, 173, .3);
    border-left: 5px solid var(--clr-primary);
    border-radius: 5px;
}

.btn {
    position: relative;
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;

    &:not(:last-child) {
        margin-right: 1rem;
        @media (min-width: $breakpoint)
        {
            margin-right: 2rem;
        }
    }

    &--filter {
        position: relative;
        padding: 10px 6px 5px;
        font-weight: bold;
        color: var(--clr-primary);
        background-color: var(--clr-light);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;



        &:not(:last-child) {
            margin-right: 42px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -3rem;
            width: 3rem;
            height: 100%;
            background: var(--clr-primary) url('../images/icon-remove.svg') no-repeat center;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;

        }

        &:hover {
            color: var(--clr-white);
            background-color: var(--clr-primary);
            &:after {
                background-color: var(--clr-dark);
            }
        }
    }

    &--link {
        font-weight: bold;
        color: var(--clr-primary);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--clr-primary);
            transform: scale(0);
            transition: .3s;
        }

        &:hover {
            &:after {

                transform: scale(1);
            }
        }
    }

    &--tag {
        padding: 10px 6px 5px;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--clr-primary);
        background-color: var(--clr-light);
        border-radius: 5px;

        &:hover {
            color: var(--clr-white);
            background-color: var(--clr-primary);
        }
    }
}

.badge {
    display: inline-block;
    height: 2.6rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4em;
    border-radius: 100vw;

    @media (min-width: 360px)
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &--transparent {
        color: var(--clr-primary)
    }

    &--primary {
        color: #fff;
        background-color: var(--clr-primary);
    }

    &--dark {
        color: #fff;
        background-color: var(--clr-dark);
    }
}

.header {
    height: 15.5rem;
    background-color: var(--clr-primary);
    background-image: url(../images/bg-header-mobile.svg);
    

    @media (min-width: $breakpoint)
    {
        background-image: url(../images/bg-header-desktop.svg);
    }
}

.filters {
    display: none;

    .container {
        
    }

    &.active {
        display: block;
    }

    &-wrapper {
        max-width: 111rem;
        min-height: 7rem;
        margin: 0 auto;
        margin-top: -3.5rem;
        padding: 1rem 1.5rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 16px rgba(173, 173, 173, .3);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $breakpoint)
        {
            padding-right: 3.6rem;
            padding-left: 3.6rem;
        }
    }
}

.offers {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    .container {
        @media (min-width: $breakpoint)
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media (min-width: 1200px)
        {
            display: flex;
            flex-direction: column;
        }
    }

    .card {
        max-width: 111rem;
        min-height: 15.2rem;
        margin: 0 auto 5rem auto;
        margin-bottom: 5rem;

        @media (min-width: $breakpoint)
        {
            width: 47%;
        }

        @media (min-width: 1200px)
        {
            width: 100%;
            padding: 3rem 3.6rem;
        }
    }
}

.offer {
    @media (min-width: 1200px)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__description-wrapper {
        @media (min-width: 1200px)
        {
            display: flex;
            align-items: center;
        }
    }

    &__logo {        
        position: absolute;
        top: 0;
        left: 2rem;
        width: 5rem;
        height: 5rem;
        transform: translateY(-50%);
        z-index: 3;

        @media (min-width: 1200px)
        {
            position: initial;
            top: 0;
            left: 0;
            width: 8.8rem;
            height: 8.8rem;
            transform: translateY(0);
            margin-right: 2.4rem;
        }
    }

    &__info {
        @media (min-width: 1200px)
        {
            height: 100%;
            min-height: 8.8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__meta {
        margin-bottom: 1.5rem;

        @media (min-width: 1200px)
        {
            margin-bottom: 0;
        }
    }

    &__firm-name {
        margin-right: 1rem;
        font-weight: 700;
        color: var(--clr-primary);
    }

    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
        font-weight: 700;

        @media (min-width: 1200px)
        {
            margin-bottom: 0;
            font-size: 2rem;
        }
    }

    &__note {
        margin-bottom: 2rem;
        color: var(--clr-grey);

        @media (min-width: 1200px)
        {
            margin-bottom: 0;
        }

        span {
            position: relative;
            display: inline-block;
            padding-right: 1rem;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 2px;
                width: 4px;
                height: 4px;
                transform: translateY(-50%);
                background-color: var(--clr-grey);
                border-radius: 50%;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    &__tags {
        padding-top: 1rem;
        border-top : 1px solid #cdcdcd;

        @media (min-width: 1200px)
        {
            height: 100%;
            min-height: 8.8rem;
            padding: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn {
            @media (min-width: 1200px)
            {
                margin-top: 1.5rem;
            }
        }
    }
}

.footer {
    padding: 7rem 0;

    .attribution {
        text-align: center;
        font-size: 1.2rem;
        line-height: 2;

        a {
            color: var(--clr-primary)
        }
    }
}